In [1]:
# Install dependencies
%pip install pandas
%pip install pyarrow

Requirement already satisfied: pandas in c:\python310\lib\site-packages (2.2.0)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: numpy<2,>=1.22.4 in c:\python310\lib\site-packages (from pandas) (1.26.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\python310\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\python310\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.7 in c:\python310\lib\site-packages (from pandas) (2023.4)
Requirement already satisfied: six>=1.5 in c:\python310\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

WARNING: Ignoring invalid distribution - (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -p (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -p (c:\python310\lib\site-packages)

Note: you may need to restart the kernel to use updated packages.

WARNING: Ignoring invalid distribution - (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -p (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -p (c:\python310\lib\site-packages)

Requirement already satisfied: pyarrow in c:\python310\lib\site-packages (15.0.0)
Requirement already satisfied: numpy<2,>=1.16.6 in c:\python310\lib\site-packages (from pyarrow) (1.26.3)

In [2]:
# Import packages
import pandas as pd

In [3]:
# Import ISOT

ISOT_Fake_dataset = pd.read_csv("../datasets/ISOT/Fake.csv")
ISOT_True_dataset = pd.read_csv("../datasets/ISOT/True.csv")

ISOT_Fake_dataset.head()

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"

In [4]:
ISOT_True_dataset.head()

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"

In [5]:
# Add column for label and assign label values

ISOT_Fake_dataset['label'] = 1
ISOT_Fake_dataset

,title,text,subject,date,label
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",1
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",1
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",1
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",1
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",1
...,...,...,...,...,...
23476,McPain: John McCain Furious That Iran Treated ...,21st Century Wire says As 21WIRE reported earl...,Middle-east,"January 16, 2016",1
23477,JUSTICE? Yahoo Settles E-mail Privacy Class-ac...,21st Century Wire says It s a familiar theme. ...,Middle-east,"January 16, 2016",1
23478,Sunnistan: US and Allied ‘Safe Zone’ Plan to T...,Patrick Henningsen 21st Century WireRemember ...,Middle-east,"January 15, 2016",1
23479,How to Blow $700 Million: Al Jazeera America F...,21st Century Wire says Al Jazeera America will...,Middle-east,"January 14, 2016",1
23480,10 U.S. Navy Sailors Held by Iranian Military ...,21st Century Wire says As 21WIRE predicted in ...,Middle-east,"January 12, 2016",1

In [6]:
# Add column for label and assign label values

ISOT_True_dataset['label'] = 0
print(ISOT_True_dataset)

                                                   title  \
0      As U.S. budget fight looms, Republicans flip t...
1      U.S. military to accept transgender recruits o...
2      Senior U.S. Republican senator: 'Let Mr. Muell...
3      FBI Russia probe helped by Australian diplomat...
4      Trump wants Postal Service to charge 'much mor...
...                                                  ...
21412  'Fully committed' NATO backs new U.S. approach...
21413  LexisNexis withdrew two products from Chinese ...
21414  Minsk cultural hub becomes haven from authorities
21415  Vatican upbeat on possibility of Pope Francis ...
21416  Indonesia to buy $1.14 billion worth of Russia...

                                                    text       subject  \
0      WASHINGTON (Reuters) - The head of a conservat...  politicsNews
1      WASHINGTON (Reuters) - Transgender people will...  politicsNews
2      WASHINGTON (Reuters) - The special counsel inv...  politicsNews
3      WASHINGTON (Reuters) - Trump campaign adviser ...  politicsNews
4      SEATTLE/WASHINGTON (Reuters) - President Donal...  politicsNews
...                                                  ...           ...
21412  BRUSSELS (Reuters) - NATO allies on Tuesday we...     worldnews
21413  LONDON (Reuters) - LexisNexis, a provider of l...     worldnews
21414  MINSK (Reuters) - In the shadow of disused Sov...     worldnews
21415  MOSCOW (Reuters) - Vatican Secretary of State ...     worldnews
21416  JAKARTA (Reuters) - Indonesia will buy 11 Sukh...     worldnews

                     date  label
0      December 31, 2017       0
1      December 29, 2017       0
2      December 31, 2017       0
3      December 30, 2017       0
4      December 29, 2017       0
...                   ...    ...
21412    August 22, 2017       0
21413    August 22, 2017       0
21414    August 22, 2017       0
21415    August 22, 2017       0
21416    August 22, 2017       0

[21417 rows x 5 columns]

In [7]:
# Combine ISOT datasets
ISOT_combined_dataset = pd.concat([ISOT_Fake_dataset, ISOT_True_dataset], ignore_index=True)

# Re-arrange columns
ISOT_combined_dataset = ISOT_combined_dataset[['text', 'label', 'title', 'subject', 'date']]
ISOT_combined_dataset

,text,label,title,subject,date
0,Donald Trump just couldn t wish all Americans ...,1,Donald Trump Sends Out Embarrassing New Year’...,News,"December 31, 2017"
1,House Intelligence Committee Chairman Devin Nu...,1,Drunk Bragging Trump Staffer Started Russian ...,News,"December 31, 2017"
2,"On Friday, it was revealed that former Milwauk...",1,Sheriff David Clarke Becomes An Internet Joke...,News,"December 30, 2017"
3,"On Christmas day, Donald Trump announced that ...",1,Trump Is So Obsessed He Even Has Obama’s Name...,News,"December 29, 2017"
4,Pope Francis used his annual Christmas Day mes...,1,Pope Francis Just Called Out Donald Trump Dur...,News,"December 25, 2017"
...,...,...,...,...,...
44893,BRUSSELS (Reuters) - NATO allies on Tuesday we...,0,'Fully committed' NATO backs new U.S. approach...,worldnews,"August 22, 2017"
44894,"LONDON (Reuters) - LexisNexis, a provider of l...",0,LexisNexis withdrew two products from Chinese ...,worldnews,"August 22, 2017"
44895,MINSK (Reuters) - In the shadow of disused Sov...,0,Minsk cultural hub becomes haven from authorities,worldnews,"August 22, 2017"
44896,MOSCOW (Reuters) - Vatican Secretary of State ...,0,Vatican upbeat on possibility of Pope Francis ...,worldnews,"August 22, 2017"
44897,JAKARTA (Reuters) - Indonesia will buy 11 Sukh...,0,Indonesia to buy $1.14 billion worth of Russia...,worldnews,"August 22, 2017"

In [8]:
# Subjects to filter by
print("ISOT Subjects:",ISOT_combined_dataset['subject'].value_counts())

ISOT Subjects: subject
politicsNews       11272
worldnews          10145
News                9050
politics            6841
left-news           4459
Government News     1570
US_News              783
Middle-east          778
Name: count, dtype: int64

In [9]:
# Filter for subject

# Science
ISOT_science = ISOT_combined_dataset[ISOT_combined_dataset['text'].str.contains('climate change')]
ISOT_combined_dataset = pd.concat([ISOT_combined_dataset, ISOT_science]).drop_duplicates(keep=False)

# Politics
ISOT_politics = ISOT_combined_dataset[ISOT_combined_dataset['subject'].isin(['politicsNews', 'politics', 'left-news'])]

ISOT_combined_dataset = pd.concat([ISOT_combined_dataset, ISOT_politics]).drop_duplicates(keep=False)


# Social Media
# Remove previous filtered rows and make remaining ones for social media
ISOT_social = ISOT_combined_dataset
ISOT_social

,text,label,title,subject,date
0,Donald Trump just couldn t wish all Americans ...,1,Donald Trump Sends Out Embarrassing New Year’...,News,"December 31, 2017"
1,House Intelligence Committee Chairman Devin Nu...,1,Drunk Bragging Trump Staffer Started Russian ...,News,"December 31, 2017"
2,"On Friday, it was revealed that former Milwauk...",1,Sheriff David Clarke Becomes An Internet Joke...,News,"December 30, 2017"
3,"On Christmas day, Donald Trump announced that ...",1,Trump Is So Obsessed He Even Has Obama’s Name...,News,"December 29, 2017"
4,Pope Francis used his annual Christmas Day mes...,1,Pope Francis Just Called Out Donald Trump Dur...,News,"December 25, 2017"
...,...,...,...,...,...
44893,BRUSSELS (Reuters) - NATO allies on Tuesday we...,0,'Fully committed' NATO backs new U.S. approach...,worldnews,"August 22, 2017"
44894,"LONDON (Reuters) - LexisNexis, a provider of l...",0,LexisNexis withdrew two products from Chinese ...,worldnews,"August 22, 2017"
44895,MINSK (Reuters) - In the shadow of disused Sov...,0,Minsk cultural hub becomes haven from authorities,worldnews,"August 22, 2017"
44896,MOSCOW (Reuters) - Vatican Secretary of State ...,0,Vatican upbeat on possibility of Pope Francis ...,worldnews,"August 22, 2017"
44897,JAKARTA (Reuters) - Indonesia will buy 11 Sukh...,0,Indonesia to buy $1.14 billion worth of Russia...,worldnews,"August 22, 2017"

In [10]:
# Save split up dataframes as raw datasets
# ISOT Science
ISOT_science.to_csv("../datasets/science/isot_science.csv")

# ISOT Politics
ISOT_politics.to_csv("../datasets/politics/isot_politics.csv")

# ISOT Social
ISOT_social.to_csv("../datasets/social-media/isot_social.csv")

In [11]:
# Add metadata
ISOT_science = ISOT_science[['text', 'label']].assign(metadata=ISOT_science.iloc[:,2:].agg(dict,1))

ISOT_politics = ISOT_politics[['text', 'label']].assign(metadata=ISOT_politics.iloc[:,2:].agg(dict,1))

ISOT_social = ISOT_social[['text', 'label']].assign(metadata=ISOT_social.iloc[:,2:].agg(dict,1))
ISOT_social

,text,label,metadata
0,Donald Trump just couldn t wish all Americans ...,1,{'title': ' Donald Trump Sends Out Embarrassin...
1,House Intelligence Committee Chairman Devin Nu...,1,{'title': ' Drunk Bragging Trump Staffer Start...
2,"On Friday, it was revealed that former Milwauk...",1,{'title': ' Sheriff David Clarke Becomes An In...
3,"On Christmas day, Donald Trump announced that ...",1,{'title': ' Trump Is So Obsessed He Even Has O...
4,Pope Francis used his annual Christmas Day mes...,1,{'title': ' Pope Francis Just Called Out Donal...
...,...,...,...
44893,BRUSSELS (Reuters) - NATO allies on Tuesday we...,0,{'title': ''Fully committed' NATO backs new U....
44894,"LONDON (Reuters) - LexisNexis, a provider of l...",0,{'title': 'LexisNexis withdrew two products fr...
44895,MINSK (Reuters) - In the shadow of disused Sov...,0,{'title': 'Minsk cultural hub becomes haven fr...
44896,MOSCOW (Reuters) - Vatican Secretary of State ...,0,{'title': 'Vatican upbeat on possibility of Po...
44897,JAKARTA (Reuters) - Indonesia will buy 11 Sukh...,0,{'title': 'Indonesia to buy $1.14 billion wort...

In [12]:
# Add column for classification category
ISOT_science['classification'] = 3

ISOT_science = ISOT_science[['text', 'label', 'classification', 'metadata']]

ISOT_science.head()

,text,label,classification,metadata
140,"Donald Trump stopped in Hawaii, which is total...",1,3,{'title': ' Hawaiians Had The Perfect Signs To...
148,Who knew that Rick Perry would come up with an...,1,3,{'title': ' Trump’s Energy Secretary Has An Id...
269,Like increasing numbers of heartless people on...,1,3,{'title': ' Bill O’Reilly Writes INFURIATING B...
347,"Let s just put it this way, if world leaders r...",1,3,{'title': ' Global Survey HUMILIATES Trump Aft...
390,Leave it to Donald Trump to exploit a tragedy....,1,3,{'title': ' Trump Shamefully Uses Hurricane De...

In [13]:
# Add column for classification category
ISOT_politics['classification'] = 2

ISOT_politics = ISOT_politics[['text', 'label', 'classification', 'metadata']]

ISOT_politics.head()

,text,label,classification,metadata
9050,"According to The Hill, Democrat Senator Bob Ca...",1,2,{'title': 'Democrat Senator Warns Mueller Not ...
9051,If we protect every other government building ...,1,2,{'title': 'MSNBC ANCHOR Flabbergasted at What ...
9052,Ami Horowitz is fantastic! Check out this man ...,1,2,{'title': 'WATCH: SNOWFLAKES ASKED Communist P...
9053,Just one more reminder of why President Trump ...,1,2,{'title': 'JUST IN: BADASS GENERAL JOHN KELLY ...
9054,Thank goodnesss Jeff Sessions is moving on fin...,1,2,{'title': 'DOJ’s JEFF SESSIONS Opens Investiga...

In [14]:
# Add column for classification category
ISOT_social['classification'] = 4

ISOT_social = ISOT_social[['text', 'label', 'classification', 'metadata']]

ISOT_social.head()

,text,label,classification,metadata
0,Donald Trump just couldn t wish all Americans ...,1,4,{'title': ' Donald Trump Sends Out Embarrassin...
1,House Intelligence Committee Chairman Devin Nu...,1,4,{'title': ' Drunk Bragging Trump Staffer Start...
2,"On Friday, it was revealed that former Milwauk...",1,4,{'title': ' Sheriff David Clarke Becomes An In...
3,"On Christmas day, Donald Trump announced that ...",1,4,{'title': ' Trump Is So Obsessed He Even Has O...
4,Pope Francis used his annual Christmas Day mes...,1,4,{'title': ' Pope Francis Just Called Out Donal...

In [15]:
# Save as Pyarrow Feather format

# ISOT Science
ISOT_science.to_feather("../preprocessed_datasets/science/isot_science_part.feather")

# ISOT Politics
ISOT_politics.to_feather("../preprocessed_datasets/politics/isot_politics_part.feather")

# ISOT Social
ISOT_social.to_feather("../preprocessed_datasets/social-media/isot_social_part.feather")

In [16]:
pd.read_feather("../preprocessed_datasets/science/isot_science_part.feather").head()

,text,label,classification,metadata
140,"Donald Trump stopped in Hawaii, which is total...",1,3,"{'date': 'November 4, 2017', 'subject': 'News'..."
148,Who knew that Rick Perry would come up with an...,1,3,"{'date': 'November 2, 2017', 'subject': 'News'..."
269,Like increasing numbers of heartless people on...,1,3,"{'date': 'October 2, 2017', 'subject': 'News',..."
347,"Let s just put it this way, if world leaders r...",1,3,"{'date': 'September 20, 2017', 'subject': 'New..."
390,Leave it to Donald Trump to exploit a tragedy....,1,3,"{'date': 'September 13, 2017', 'subject': 'New..."

In [17]:
pd.read_feather("../preprocessed_datasets/politics/isot_politics_part.feather").head()

,text,label,classification,metadata
9050,"According to The Hill, Democrat Senator Bob Ca...",1,2,"{'date': '19-Feb-18', 'subject': 'politics', '..."
9051,If we protect every other government building ...,1,2,"{'date': '19-Feb-18', 'subject': 'politics', '..."
9052,Ami Horowitz is fantastic! Check out this man ...,1,2,"{'date': '19-Feb-18', 'subject': 'politics', '..."
9053,Just one more reminder of why President Trump ...,1,2,"{'date': '18-Feb-18', 'subject': 'politics', '..."
9054,Thank goodnesss Jeff Sessions is moving on fin...,1,2,"{'date': '18-Feb-18', 'subject': 'politics', '..."

In [18]:
pd.read_feather("../preprocessed_datasets/social-media/isot_social_part.feather").head()

,text,label,classification,metadata
0,Donald Trump just couldn t wish all Americans ...,1,4,"{'date': 'December 31, 2017', 'subject': 'News..."
1,House Intelligence Committee Chairman Devin Nu...,1,4,"{'date': 'December 31, 2017', 'subject': 'News..."
2,"On Friday, it was revealed that former Milwauk...",1,4,"{'date': 'December 30, 2017', 'subject': 'News..."
3,"On Christmas day, Donald Trump announced that ...",1,4,"{'date': 'December 29, 2017', 'subject': 'News..."
4,Pope Francis used his annual Christmas Day mes...,1,4,"{'date': 'December 25, 2017', 'subject': 'News..."